.heading {
	text-align: center;
	filter: drop-shadow(10px 30px 50px #000000);

	.profile {
		&:hover {
			// background-color: white;
		}
	}
}

.profile {
	max-width: 128px;
	object-fit: scale-down;
	height: fit-content;
	border-radius: 1em;

	&:hover,
	&:active,
	&:focus-visible {
		+figcaption {
			.dagsetning {
				position: absolute;
				left: 1em;
				right: 1em;
				margin: -1em 0 0;
				opacity: 1;
				transform: translate(0, -1em);
				transition: opacity 1s ease-in, transform 1s;
			}
		}
	}
}

.dagsetning {
	font-size: 0.75em;
	opacity: 0;
	transition: opacity 0.25s ease-in, transform 1s;
	display: inline;
	position: absolute;
	left: 1em;
	right: 1em;
	margin: -1em 0 0;
	transform: translate(0, -2em)
}

.hbflisti {
	display: flex;
	flex-wrap: wrap;

	:nth-child(n) {
		padding: 0 0.25em;
	}

	:nth-child(1) {
		&::marker {
			content: '';
		}
	}

	:last-child {
		margin: 0 0 0 0.75em;

		&::marker {
			content: '&';
		}
	}

	::marker {
		content: ',';
	}
}