.profile {
	max-width: 128px;
	object-fit: scale-down;
	height: fit-content;
}

.heading {
	text-align: center;
	filter: drop-shadow(10px 30px 50px #000000);
}

.hbflisti {
	display: flex;
	flex-wrap: wrap;

	:nth-child(n) {
		padding: 0 0.25em;
	}

	:nth-child(1) {
		&::marker {
			content: '';
		}
	}

	:last-child {
		margin: 0 0 0 0.75em;

		&::marker {
			content: '&';
		}
	}

	::marker {
		content: ',';
	}
}