.fotur {
	margin: auto auto 0;
	text-align: center;
	padding: 15em 0;

	&__mynd {
		object-fit: scale-down;
		object-position: center;
		min-width: 10em;
		min-height: 10em;
		height: 40vw;
		width: 40vw;
		max-height: 20em;
		max-width: 20em;
		// text-align: center;
	}

	&__caption {
		text-align: center;
		font-weight: 100;
	}
}