.fotur {
	margin: auto auto 0;
	text-align: center;
	padding: 15em 0;
	width: fit-content;

	&__mynd {
		object-fit: scale-down;
		object-position: center;
		min-width: 10em;
		min-height: 10em;
		height: 40vw;
		width: 40vw;
		max-height: 20em;
		max-width: 20em;
	}

	&__caption {
		text-align: center;
		font-weight: 100;
	}

	&:hover,
	&:focus,
	&:active {
		.hide {
			// display: inline;
			opacity: 1;
			transition: transform 1s ease-in-out, opacity 1s ease-in;
			transform: translate(0, 0);
			// font-size: 2em;
		}
	}
}

.hide {
	transition: transform 1s ease-out, opacity 0.2s ease-in;
	opacity: 0;
	transform: translate(0, 1em) // display: none;
}