.fotur {
	margin: auto auto 0;
	text-align: center;
	padding: 15em 0;

	&__mynd {
		object-fit: cover;
		object-position: center;
		height: 30vw;
		width: 30vw;
		max-height: 25em;
		max-width: 25em;
		// text-align: center;
	}

	&__caption {
		text-align: center;
	}
}