$bccolor: #0F0E16;

.navGrid {
	margin: 1em 0;
	padding: 0 5%;
	display: grid;
	grid-template-columns: repeat(11, minmax(0, 1fr));
	gap: 0 126px;
	text-transform: lowercase;
	font-size: 26px;
	opacity: 100%;
	transition: opacity 0.5s ease;
	width: 100%;

	:nth-child(even) {
		align-self: center;
		opacity: 75%;
	}

	:nth-child(2) {
		justify-self: end;
		grid-column-start: 5;

	}

	:nth-child(3) {
		justify-self: center;
		opacity: 75%;
		grid-column-start: 6;
	}

	:nth-child(4) {
		grid-column-start: 7;
	}

	:nth-child(5) {
		justify-self: end;
		grid-column-start: 9;
		grid-column-end: span 3;
		align-self: center;
		grid-row: 1;

		strong {
			font-weight: 400;
		}
	}

	:nth-child(6) {
		grid-row: 1;
		grid-column-start: 10;
		grid-column-end: span 2;
		justify-self: end;
		align-self: start;
	}

	&:has(li:hover) li:not(:hover) {
		opacity: 0.2;
		transition: opacity 0.75s ease-in-out;
	}

	li {
		transition: opacity 1s ease-in-out;

		&:hover {
			opacity: 100%;
			transition: opacity 1s ease-in-out;
		}
	}
}

.logoHomeNav {
	opacity: 55%;


	&__fixed {
		position: fixed;
		opacity: 55%;
		z-index: 1000;
	}
}

.valmyndNav {
	display: none;
	background-color: transparent;
	justify-self: end;
	grid-column-start: 20;
	border: 0;
	transition: opacity 1s ease-in-out;
	z-index: 1000;

	&:hover {
		transition: opacity 1s ease-in-out;
		cursor: pointer;
	}

	&__off {
		display: none;
	}
}

.navSticky {
	margin: 0 0 0 0;
	padding: 1em 5%;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background: -webkit-linear-gradient($bccolor, transparent);
	animation-name: dropdown;
	animation-duration: 0.25s;
}

.navWindow {
	margin: 1em 0;
	padding: 0 5%;
	display: grid;
	grid-template-columns: repeat(11, minmax(0, 1fr));
	gap: 5%;
	text-transform: lowercase;
	font-size: 26px;
	opacity: 100%;
	transition: opacity 0.5s ease;
	width: 100%;

	:nth-child(n) {
		grid-column-end: span 11;
		text-align: center;
	}

	:nth-child(1) {
		grid-row: 1;
		grid-column-end: span 2;
		justify-self: start;
	}

	:nth-child(2),
	:nth-child(3),
	:nth-child(4),
	:nth-child(5) {
		padding: 0.25em;
		animation-name: dropdown, fadein;
		animation-duration: 0.25s;
	}

	:nth-child(6) {
		grid-row: 1;
		grid-column-start: 10;
		grid-column-end: span 2;
		justify-self: end;
		align-self: start;
	}

	&__header {
		align-items: center;
		align-content: center;
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: -webkit-linear-gradient($bccolor, transparent);
		z-index: 100000;
		top: 0;
	}
}


@keyframes fadein {
	0% {
		opacity: 0%;
	}

	20% {
		opacity: 10%;
	}

	95% {
		opacity: 56%;
	}

	100% {
		opacity: 55%;
	}
}

@keyframes dropdown {
	0% {
		translate: 0px -100px;
	}

	100% {
		translate: 0px;
	}
}

@media (max-width: 1400px) {
	.navGrid {
		gap: 10%;
	}
}



@media (max-width: 1280px) {
	.navGrid {
		gap: 5%;

		:nth-child(2),
		:nth-child(3),
		:nth-child(4),
		:nth-child(5) {
			display: none;
		}
	}

	.valmyndNav {
		display: inline;
	}

}