$ivory: #f6f7ebff;
$bccolor: #0F0E16;
$hvitur: #fff;

.forsidumynd {
	padding: 0 0 0 10em;
	margin: 5em 0 15em;
	scale: 0.9;
	animation-name: fadein;
	animation-duration: 1s;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: auto;

	:nth-child(1) {
		width: max-content;
		justify-self: center;
		grid-row: 1;
		grid-column-start: 1;
		grid-column-end: span 3;
		object-fit: cover;
		object-position: center;
	}

	:nth-child(2) {
		scale: 1.1;
		grid-row: 1;
		grid-column-start: 1;
		grid-column-end: span 3;
		translate: -10px 125px;
		align-self: flex-end;
		justify-self: center;
	}
}

@keyframes fadein {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

.ummig {

	background-color: #DDDDDD;
	padding: 0.5em 1em;
	border-radius: 1em;
	color: $bccolor;
	font-weight: 400;
	filter: drop-shadow(10px 30px 50px #000000);
}