* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 0;
}

$bccolor: #0F0E16;
$active-color: #F0386B;
// $active-color: #DB0053;

$hvitur: #fff;

:root {
	--active-c: #F0386B;
	--bccolor: #0F0E16;
}

body {
	margin: 1em auto;
	width: 95%;
	background-color: $bccolor;
	color: $hvitur;
	display: grid;
	grid-template-areas: "h"
		"b"
		"f";
	grid-template-rows: 100px auto auto;

	header {
		grid-area: "h";
	}

	main {
		grid-area: "b";
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer {
		grid-area: "f";
	}
}

a,
button {
	font-family: inherit;
	text-decoration: none;
	font-weight: 100;
	color: inherit;
}

ul,
ol {
	font-family: inherit;
	list-style: none;
}

.active {

	// color: $active-color;
	// opacity: unset;
	// font-size: 70px;
	animation-name: appear;
	animation-duration: 0.1s;
	grid-row-start: 2;
	grid-column-start: 1 !important;
	align-self: center;
	justify-self: center !important;
	text-align: center;
	grid-column-end: span 11 !important;
	opacity: 1 !important;

	// grid-column-end: span 3;

	// box-shadow: #F9FBE9;
	a {
		text-transform: capitalize;
		font-weight: 400;
		// border-bottom: 1px #F9FBE9 solid;
		// border-radius: 0.2em;
		background: -webkit-linear-gradient($hvitur, #F6F7EB, #F9FBE9);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		strong {
			font-weight: 700 !important;
		}
	}
}

@keyframes appear {
	0% {
		scale: 0;
	}

	100% {
		scale: 1;
	}
}