* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 0;
}

.sr-only:not(:focus, :active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: var(--border-size);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: var(--border-size);
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

$bccolor: #0F0E16;
$hvitur: #fff;

:root {
	--bccolor: #0F0E16;
}

body {
	min-height: 100vh;
	margin: 0 auto;
	width: 100%;
	background-color: $bccolor;
	color: $hvitur;
	display: grid;
	grid-template-areas: "h"
		"b"
		"f";
	grid-template-rows: 125px auto auto;

	header {
		grid-area: "h";

		nav {
			width: 100%;
			margin: 0 auto;
		}
	}

	main {
		margin: 0 auto;
		grid-area: "b";
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer {
		width: 100%;
		margin: auto auto 0;
	}
}

a,
button {
	font-family: inherit;
	text-decoration: none;
	font-weight: 100;
	color: inherit;
}

ul,
ol {
	font-family: inherit;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	background: -webkit-linear-gradient(#fff, #F6F7EB, #F9FBE9);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.active {

	// color: $active-color;
	// opacity: unset;
	// font-size: 70px;
	animation-name: appear;
	animation-duration: 0.1s;
	grid-row-start: 2 !important;
	grid-column-start: 1 !important;
	align-self: center;
	justify-self: center !important;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: span 11 !important;
	opacity: 1 !important;

	// grid-column-end: span 3;

	// box-shadow: #F9FBE9;
	a {
		text-transform: capitalize;
		font-weight: 400;
		// border-bottom: 1px #F9FBE9 solid;
		// border-radius: 0.2em;
		background: -webkit-linear-gradient(white, #F6F7EB, #F9FBE9);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		strong {
			font-weight: 700 !important;
		}
	}
}

@media (max-width: 1400px) {
	.active {
		display: inline !important;
	}

}

@keyframes appear {
	0% {
		scale: 0;
	}

	100% {
		scale: 1;
	}
}